.nav-list {
    list-style: none;
}

.nav-list-item {
    display: inline-block;
}

.nav-list-item a {
    text-decoration: none;
    font-weight: bold;
    color: #111;
    margin: 0 0.1rem;
}

.nav-list-item a:hover {
    color: skyblue;
}