<h1>Jonas Kühle</h1>
<div>
    <p> Current Status: Masters Student</p>
    <p> Bachelors Degree: Applied Computer Science with Specialization in Embedded Systems at University of Applied Sciences Fulda <p>
    <p> This site was built for CSC 648, Software Engineering at San Francisco State University
</div>